##### Produce driver standings

In [69]:
from pandas import read_csv
from lib import configuration

In [70]:
race_results_df = read_csv(f'{configuration.silver_folder_path}/race_results.csv')
#race_results_df = race_results_df[(race_results_df['race_year'].isin([2020]))]
race_results_df

,grid,position,points,race_time,race_year,race_name,race_date,circuit_location,driver_number,driver_name,driver_nationality,team,nationality,created_date
0,18,\N,0.0,\N,2009,Australian Grand Prix,2009-03-29 06:00:00,Melbourne,44,Lewis Hamilton,British,McLaren,British,02/05/2024 17:10:49
1,12,7,1.0,+1:00.733,2009,Malaysian Grand Prix,2009-04-05 09:00:00,Kuala Lumpur,44,Lewis Hamilton,British,McLaren,British,02/05/2024 17:10:49
2,9,6,3.0,+1:11.866,2009,Chinese Grand Prix,2009-04-19 07:00:00,Shanghai,44,Lewis Hamilton,British,McLaren,British,02/05/2024 17:10:49
3,5,4,5.0,+22.096,2009,Bahrain Grand Prix,2009-04-26 12:00:00,Sakhir,44,Lewis Hamilton,British,McLaren,British,02/05/2024 17:10:49
4,14,9,0.0,\N,2009,Spanish Grand Prix,2009-05-10 12:00:00,Montmeló,44,Lewis Hamilton,British,McLaren,British,02/05/2024 17:10:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24955,4,\N,0.0,\N,2020,Emilia Romagna Grand Prix,2020-11-01 12:10:00,Imola,10,Pierre Gasly,French,AlphaTauri,Italian,02/05/2024 17:10:49
24956,19,13,0.0,\N,2020,Turkish Grand Prix,2020-11-15 10:10:00,Istanbul,10,Pierre Gasly,French,AlphaTauri,Italian,02/05/2024 17:10:49
24957,8,6,8.0,+11.942,2020,Bahrain Grand Prix,2020-11-29 14:10:00,Sakhir,10,Pierre Gasly,French,AlphaTauri,Italian,02/05/2024 17:10:49
24958,9,11,0.0,+20.527,2020,Sakhir Grand Prix,2020-12-06 17:10:00,Sakhir,10,Pierre Gasly,French,AlphaTauri,Italian,02/05/2024 17:10:49
24959,9,8,4.0,+1:29.718,2020,Abu Dhabi Grand Prix,2020-12-13 13:10:00,Abu Dhabi,10,Pierre Gasly,French,AlphaTauri,Italian,02/05/2024 17:10:49

In [71]:
wins_df = race_results_df[(race_results_df['position']=='1')]
wins_df['position'] = (wins_df['position']).astype(int)
wins_df

C:\Users\lehannah\AppData\Local\Temp/ipykernel_25548/87635566.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wins_df['position'] = (wins_df['position']).astype(int)

,grid,position,points,race_time,race_year,race_name,race_date,circuit_location,driver_number,driver_name,driver_nationality,team,nationality,created_date
9,4,1,10.0,1:38:23.876,2009,Hungarian Grand Prix,2009-07-26 12:00:00,Budapest,44,Lewis Hamilton,British,McLaren,British,02/05/2024 17:10:49
13,1,1,10.0,1:56:06.337,2009,Singapore Grand Prix,2009-09-27 12:00:00,Marina Bay,44,Lewis Hamilton,British,McLaren,British,02/05/2024 17:10:49
17,1,1,10.0,1:34:50.616,2008,Australian Grand Prix,2008-03-16 04:30:00,Melbourne,44,Lewis Hamilton,British,McLaren,British,02/05/2024 17:10:49
22,3,1,10.0,2:00:42.742,2008,Monaco Grand Prix,2008-05-25 12:00:00,Monte-Carlo,44,Lewis Hamilton,British,McLaren,British,02/05/2024 17:10:49
25,4,1,10.0,1:39:09.440,2008,British Grand Prix,2008-07-06 12:00:00,Silverstone,44,Lewis Hamilton,British,McLaren,British,02/05/2024 17:10:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23957,2,1,9.0,1:59:20.29,1968,United States Grand Prix,1968-10-06 \N,New York State,\N,Jackie Stewart,British,Matra-Ford,French,02/05/2024 17:10:49
24437,4,1,25.0,1:45:58.667,2012,Abu Dhabi Grand Prix,2012-11-04 13:00:00,Abu Dhabi,7,Kimi Räikkönen,Finnish,Lotus F1,British,02/05/2024 17:10:49
24440,7,1,25.0,1:30:03.225,2013,Australian Grand Prix,2013-03-17 06:00:00,Melbourne,7,Kimi Räikkönen,Finnish,Lotus F1,British,02/05/2024 17:10:49
24887,5,1,25.0,1:31:15.114,2020,Sakhir Grand Prix,2020-12-06 17:10:00,Sakhir,11,Sergio Pérez,Mexican,Racing Point,British,02/05/2024 17:10:49
24950,10,1,25.0,1:47:06.056,2020,Italian Grand Prix,2020-09-06 13:10:00,Monza,10,Pierre Gasly,French,AlphaTauri,Italian,02/05/2024 17:10:49

In [72]:
aggs = {
    'position':'sum'
}

wins_df = wins_df.groupby(["race_year", "team"]).agg(aggs).reset_index()
wins_df = wins_df.rename(columns={"position":"wins"})
wins_df.sort_values('wins', ascending=False)

     race_year        team  wins
249       2016    Mercedes    19
248       2015    Mercedes    16
245       2014    Mercedes    16
157       1988     McLaren    15
258       2019    Mercedes    15
..         ...         ...   ...
97        1976       March     1
189       1998      Jordan     1
99        1976      Penske     1
100       1976  Team Lotus     1
132       1982    Williams     1

[264 rows x 3 columns]

In [73]:
aggs = {
    'points':'sum'
}

constructor_standings_df = race_results_df.groupby(["race_year", "team"]).agg(aggs).reset_index()
constructor_standings_df.sort_values('points', ascending=False)

      race_year      team  points
1025       2016  Mercedes   765.0
1055       2019  Mercedes   739.0
1015       2015  Mercedes   703.0
1005       2014  Mercedes   701.0
1035       2017  Mercedes   668.0
...         ...       ...     ...
404        1972  Politoys     0.0
407        1972     Tecno     0.0
411        1973    Ensign     0.0
421        1974      Amon     0.0
1070       2020  Williams     0.0

[1071 rows x 3 columns]

In [74]:
# Left Outer Join
constructor_standings_df = constructor_standings_df.set_index(["team","race_year"]).join(wins_df.set_index(["team","race_year"]), rsuffix='_win', how='left').reset_index()
constructor_standings_df = constructor_standings_df[["race_year", "team", "points", "wins"]]
constructor_standings_df.sort_values('points', ascending=False)

      race_year      team  points  wins
1025       2016  Mercedes   765.0  19.0
1055       2019  Mercedes   739.0  15.0
1015       2015  Mercedes   703.0  16.0
1005       2014  Mercedes   701.0  16.0
1035       2017  Mercedes   668.0  12.0
...         ...       ...     ...   ...
404        1972  Politoys     0.0   NaN
407        1972     Tecno     0.0   NaN
411        1973    Ensign     0.0   NaN
421        1974      Amon     0.0   NaN
1070       2020  Williams     0.0   NaN

[1071 rows x 4 columns]

In [75]:
constructor_standings_df['rank'] = constructor_standings_df.groupby('race_year')['points'].rank(ascending=False)
constructor_standings_df.sort_values('rank', ascending=True)

      race_year               team  points  wins  rank
943        2009              Brawn   172.0   8.0   1.0
240        1962                BRM    62.0   4.0   1.0
124        1955           Mercedes    79.0   5.0   1.0
1025       2016           Mercedes   765.0  19.0   1.0
233        1961            Ferrari    99.0   5.0   1.0
...         ...                ...     ...   ...   ...
50         1952  Aston Butterworth     0.0   NaN  18.5
49         1952               Alta     0.0   NaN  18.5
48         1952                AFM     0.0   NaN  18.5
67         1952            Sherman     0.0   NaN  18.5
56         1952              Deidt     0.0   NaN  18.5

[1071 rows x 5 columns]

In [76]:
constructor_standings_df.to_csv(f"{configuration.silver_folder_path}/constructor_standings.csv", index=False)

In [77]:
df_parquet = read_csv(f'{configuration.silver_folder_path}/constructor_standings.csv')
df_parquet.sort_values('rank', ascending=True)

      race_year               team  points  wins  rank
943        2009              Brawn   172.0   8.0   1.0
240        1962                BRM    62.0   4.0   1.0
124        1955           Mercedes    79.0   5.0   1.0
1025       2016           Mercedes   765.0  19.0   1.0
233        1961            Ferrari    99.0   5.0   1.0
...         ...                ...     ...   ...   ...
50         1952  Aston Butterworth     0.0   NaN  18.5
49         1952               Alta     0.0   NaN  18.5
48         1952                AFM     0.0   NaN  18.5
67         1952            Sherman     0.0   NaN  18.5
56         1952              Deidt     0.0   NaN  18.5

[1071 rows x 5 columns]